---
"better-auth": minor
---

Add a custom verification callback for backup codes, with ability to fallback to built-in verification.
