---
import { UserCard } from "@/components/user-card";
import RootLayout from "@/layouts/root-layout.astro";
import { auth } from "@/auth";

const activeSessions = await auth.api
	.listSessions({
		headers: Astro.request.headers,
	})
	.catch((e) => {
		return [];
	});
const session = await auth.api.getSession({
	headers: Astro.request.headers,
});
---

<RootLayout>
      <UserCard  activeSessions={activeSessions} initialSession={session}  client:only/>
      <button
        id="login"
        class="bg-black mt-3 flex items-center gap-2 rounded-sm py-2 px-3 text-white text-sm"
      >
        Sign In
      </button>    
  <script>
    import { useVanillaSession} from "../libs/auth-client";
    useVanillaSession.subscribe((val) => {
      if (val.data) {
        document.getElementById("login")!.style.display = "none";
      } else {
        if(val.error){
          document.getElementById("login")!.style.display = "flex";
        }
      }
    });
  </script>  
</RootLayout>
