.beta {
    background-color: transparent;
    border: 0.2px solid #eae2f6;
    border-radius: 0;
    box-sizing: border-box;
    color: #970bf5;
    cursor: pointer;
    display: inline-block;
    float: right;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0.4em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 10px;
  }
  
  .beta::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: white;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
  }
  
  .beta .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  .beta .top_key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #0c0a09;
    transition: width 0.5s ease-out, left 0.3s ease-out;
  }
  
  .beta .bottom_key_1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #0c0a09;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .beta .bottom_key_2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #0c0a09;
    transition: width 0.5s ease-out, right 0.3s ease-out;
  }
  
  .beta {
    color: white;
    background: rgb(242, 216, 246);
  }

  .beta:hover {
    background: none;
  }

  .beta:hover .text {
    color: white;
  }
  
  .beta::before {
    width: 0.9375rem;
    background: rgb(39, 37, 42);
  }
  
  .beta .text {
    color: black;
    padding-left: 1.5em;
  }


  
  .beta:hover .top_key {
    left: -2px;
    width: 0px;
  }
  
  .beta:hover .bottom_key_1,
   .beta:hover .bottom_key_2 {
    right: 0;
    width: 0;
  }