# GitHub API - community stats
GITHUB_TOKEN=

# Inkeep API - AI chat
INKEEP_API_KEY=

# Typesense - Docs search
NEXT_PUBLIC_TYPESENSE_SERVER_URL=
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
TYPESENSE_ADMIN_API_KEY=

# Next.js - public URL
NEXT_PUBLIC_URL=http://localhost:3000
