# GitHub API - community stats
GITHUB_TOKEN=

# Inkeep API - AI chat
INKEEP_API_KEY=

# Typesense - Docs search
NEXT_PUBLIC_TYPESENSE_SERVER_URL=
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
TYPESENSE_ADMIN_API_KEY=

# Next.js - public URL
NEXT_PUBLIC_URL=http://localhost:3000

# Github App - Feedback
GITHUB_APP_ID=

# Use \n for newlines (only in Vercel, because it throws errors with actual newlines in the env variable)
GITHUB_APP_PRIVATE_KEY=