{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 140,
	"singleAttributePerLine": false,
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
