# GitHub API - community stats
GITHUB_TOKEN=

# Openrouter API - docs AI chat
OPENROUTER_API_KEY=

# Upstash Redis - AI chat rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Typesense - Docs search
NEXT_PUBLIC_TYPESENSE_SERVER_URL=
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
TYPESENSE_ADMIN_API_KEY=

# Next.js - public URL
NEXT_PUBLIC_URL=http://localhost:3000

