{
    "openapi": "3.0.0",
    "info": {
        "title": "Unkey Api",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.unkey.dev",
            "description": "Production"
        },
        {
            "url": "https://example.com/api/v1",
            "description": "Example API"
        }
    ],
    "x-speakeasy-retries": {
        "strategy": "backoff",
        "backoff": {
            "initialInterval": 50,
            "maxInterval": 1000,
            "maxElapsedTime": 30000,
            "exponent": 1.5
        },
        "statusCodes": [
            "5XX"
        ],
        "retryConnectionErrors": true
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "bearerFormat": "root key",
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "ErrBadRequest": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "BAD_REQUEST"
                                ],
                                "description": "A machine readable error code.",
                                "example": "BAD_REQUEST"
                            },
                            "docs": {
                                "type": "string",
                                "description": "A link to our documentation with more details about this error code",
                                "example": "https://unkey.dev/docs/api-reference/errors/code/BAD_REQUEST"
                            },
                            "message": {
                                "type": "string",
                                "description": "A human readable explanation of what went wrong"
                            },
                            "requestId": {
                                "type": "string",
                                "description": "Please always include the requestId in your error report",
                                "example": "req_1234"
                            }
                        },
                        "required": [
                            "code",
                            "docs",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "ErrUnauthorized": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "UNAUTHORIZED"
                                ],
                                "description": "A machine readable error code.",
                                "example": "UNAUTHORIZED"
                            },
                            "docs": {
                                "type": "string",
                                "description": "A link to our documentation with more details about this error code",
                                "example": "https://unkey.dev/docs/api-reference/errors/code/UNAUTHORIZED"
                            },
                            "message": {
                                "type": "string",
                                "description": "A human readable explanation of what went wrong"
                            },
                            "requestId": {
                                "type": "string",
                                "description": "Please always include the requestId in your error report",
                                "example": "req_1234"
                            }
                        },
                        "required": [
                            "code",
                            "docs",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "ErrForbidden": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "FORBIDDEN"
                                ],
                                "description": "A machine readable error code.",
                                "example": "FORBIDDEN"
                            },
                            "docs": {
                                "type": "string",
                                "description": "A link to our documentation with more details about this error code",
                                "example": "https://unkey.dev/docs/api-reference/errors/code/FORBIDDEN"
                            },
                            "message": {
                                "type": "string",
                                "description": "A human readable explanation of what went wrong"
                            },
                            "requestId": {
                                "type": "string",
                                "description": "Please always include the requestId in your error report",
                                "example": "req_1234"
                            }
                        },
                        "required": [
                            "code",
                            "docs",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "ErrNotFound": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "NOT_FOUND"
                                ],
                                "description": "A machine readable error code.",
                                "example": "NOT_FOUND"
                            },
                            "docs": {
                                "type": "string",
                                "description": "A link to our documentation with more details about this error code",
                                "example": "https://unkey.dev/docs/api-reference/errors/code/NOT_FOUND"
                            },
                            "message": {
                                "type": "string",
                                "description": "A human readable explanation of what went wrong"
                            },
                            "requestId": {
                                "type": "string",
                                "description": "Please always include the requestId in your error report",
                                "example": "req_1234"
                            }
                        },
                        "required": [
                            "code",
                            "docs",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "ErrConflict": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "CONFLICT"
                                ],
                                "description": "A machine readable error code.",
                                "example": "CONFLICT"
                            },
                            "docs": {
                                "type": "string",
                                "description": "A link to our documentation with more details about this error code",
                                "example": "https://unkey.dev/docs/api-reference/errors/code/CONFLICT"
                            },
                            "message": {
                                "type": "string",
                                "description": "A human readable explanation of what went wrong"
                            },
                            "requestId": {
                                "type": "string",
                                "description": "Please always include the requestId in your error report",
                                "example": "req_1234"
                            }
                        },
                        "required": [
                            "code",
                            "docs",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "ErrTooManyRequests": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "TOO_MANY_REQUESTS"
                                ],
                                "description": "A machine readable error code.",
                                "example": "TOO_MANY_REQUESTS"
                            },
                            "docs": {
                                "type": "string",
                                "description": "A link to our documentation with more details about this error code",
                                "example": "https://unkey.dev/docs/api-reference/errors/code/TOO_MANY_REQUESTS"
                            },
                            "message": {
                                "type": "string",
                                "description": "A human readable explanation of what went wrong"
                            },
                            "requestId": {
                                "type": "string",
                                "description": "Please always include the requestId in your error report",
                                "example": "req_1234"
                            }
                        },
                        "required": [
                            "code",
                            "docs",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "ErrInternalServerError": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "string",
                                "enum": [
                                    "INTERNAL_SERVER_ERROR"
                                ],
                                "description": "A machine readable error code.",
                                "example": "INTERNAL_SERVER_ERROR"
                            },
                            "docs": {
                                "type": "string",
                                "description": "A link to our documentation with more details about this error code",
                                "example": "https://unkey.dev/docs/api-reference/errors/code/INTERNAL_SERVER_ERROR"
                            },
                            "message": {
                                "type": "string",
                                "description": "A human readable explanation of what went wrong"
                            },
                            "requestId": {
                                "type": "string",
                                "description": "Please always include the requestId in your error report",
                                "example": "req_1234"
                            }
                        },
                        "required": [
                            "code",
                            "docs",
                            "message",
                            "requestId"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "Key": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The id of the key",
                        "example": "key_1234"
                    },
                    "start": {
                        "type": "string",
                        "description": "The first few characters of the key to visually identify it",
                        "example": "sk_5j1"
                    },
                    "workspaceId": {
                        "type": "string",
                        "description": "The id of the workspace that owns the key",
                        "example": "ws_1234"
                    },
                    "apiId": {
                        "type": "string",
                        "description": "The id of the api that this key is for",
                        "example": "api_1234"
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the key, give keys a name to easily identify their purpose",
                        "example": "Customer X"
                    },
                    "ownerId": {
                        "type": "string",
                        "description": "The id of the tenant associated with this key. Use whatever reference you have in your system to identify the tenant. When verifying the key, we will send this field back to you, so you know who is accessing your API.",
                        "example": "user_123"
                    },
                    "meta": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        },
                        "description": "Any additional metadata you want to store with the key",
                        "example": {
                            "roles": [
                                "admin",
                                "user"
                            ],
                            "stripeCustomerId": "cus_1234"
                        }
                    },
                    "createdAt": {
                        "type": "integer",
                        "description": "The unix timestamp in milliseconds when the key was created",
                        "example": 0
                    },
                    "updatedAt": {
                        "type": "integer",
                        "description": "The unix timestamp in milliseconds when the key was last updated",
                        "example": 0
                    },
                    "expires": {
                        "type": "integer",
                        "description": "The unix timestamp in milliseconds when the key will expire. If this field is null or undefined, the key is not expiring.",
                        "example": 0
                    },
                    "remaining": {
                        "type": "integer",
                        "description": "The number of requests that can be made with this key before it becomes invalid. If this field is null or undefined, the key has no request limit.",
                        "example": 1000
                    },
                    "refill": {
                        "type": "object",
                        "properties": {
                            "interval": {
                                "type": "string",
                                "enum": [
                                    "daily",
                                    "monthly"
                                ],
                                "description": "Determines the rate at which verifications will be refilled.",
                                "example": "daily"
                            },
                            "amount": {
                                "type": "integer",
                                "description": "Resets `remaining` to this value every interval.",
                                "example": 100
                            },
                            "lastRefillAt": {
                                "type": "integer",
                                "description": "The unix timestamp in miliseconds when the key was last refilled.",
                                "example": 100
                            }
                        },
                        "required": [
                            "interval",
                            "amount"
                        ],
                        "description": "Unkey allows you to refill remaining verifications on a key on a regular interval.",
                        "example": {
                            "interval": "daily",
                            "amount": 10
                        }
                    },
                    "ratelimit": {
                        "type": "object",
                        "properties": {
                            "async": {
                                "type": "boolean",
                                "description": ""
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "fast",
                                    "consistent"
                                ],
                                "description": "Fast ratelimiting doesn't add latency, while consistent ratelimiting is more accurate.",
                                "externalDocs": {
                                    "description": "Learn more",
                                    "url": "https://unkey.dev/docs/features/ratelimiting"
                                }
                            },
                            "limit": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "The total amount of burstable requests."
                            },
                            "refillRate": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "How many tokens to refill during each refillInterval."
                            },
                            "refillInterval": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "Determines the speed at which tokens are refilled, in milliseconds."
                            },
                            "duration": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "The duration of the ratelimit window, in milliseconds."
                            }
                        },
                        "required": [
                            "async",
                            "limit",
                            "duration"
                        ],
                        "description": "Unkey comes with per-key ratelimiting out of the box.",
                        "example": {
                            "async": true,
                            "limit": 10,
                            "duration": 60
                        }
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "All roles this key belongs to",
                        "example": [
                            "admin",
                            "finance"
                        ]
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "All permissions this key has",
                        "example": [
                            "domain.dns.create_record",
                            "finance.read_receipt"
                        ]
                    },
                    "enabled": {
                        "type": "boolean",
                        "description": "Sets if key is enabled or disabled. Disabled keys are not valid.",
                        "example": true
                    },
                    "plaintext": {
                        "type": "string",
                        "description": "The key in plaintext"
                    },
                    "identity": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "The id of the identity"
                            },
                            "externalId": {
                                "type": "string",
                                "description": "The external id of the identity"
                            },
                            "meta": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                },
                                "description": "Any additional metadata attached to the identity"
                            }
                        },
                        "required": [
                            "id",
                            "externalId"
                        ],
                        "description": "The identity of the key"
                    }
                },
                "required": [
                    "id",
                    "start",
                    "workspaceId",
                    "createdAt"
                ]
            },
            "V1KeysVerifyKeyResponse": {
                "type": "object",
                "properties": {
                    "keyId": {
                        "type": "string",
                        "description": "The id of the key",
                        "example": "key_1234"
                    },
                    "valid": {
                        "type": "boolean",
                        "description": "Whether the key is valid or not.\nA key could be invalid for a number of reasons, for example if it has expired, has no more verifications left or if it has been deleted.",
                        "example": true
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the key, give keys a name to easily identifiy their purpose",
                        "example": "Customer X"
                    },
                    "ownerId": {
                        "type": "string",
                        "description": "The id of the tenant associated with this key. Use whatever reference you have in your system to identify the tenant. When verifying the key, we will send this field back to you, so you know who is accessing your API.",
                        "example": "user_123"
                    },
                    "meta": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        },
                        "description": "Any additional metadata you want to store with the key",
                        "example": {
                            "roles": [
                                "admin",
                                "user"
                            ],
                            "stripeCustomerId": "cus_1234"
                        }
                    },
                    "expires": {
                        "type": "integer",
                        "description": "The unix timestamp in milliseconds when the key will expire. If this field is null or undefined, the key is not expiring.",
                        "example": 123
                    },
                    "ratelimit": {
                        "type": "object",
                        "properties": {
                            "limit": {
                                "type": "integer",
                                "description": "Maximum number of requests that can be made inside a window",
                                "example": 10
                            },
                            "remaining": {
                                "type": "integer",
                                "description": "Remaining requests after this verification",
                                "example": 9
                            },
                            "reset": {
                                "type": "integer",
                                "description": "Unix timestamp in milliseconds when the ratelimit will reset",
                                "example": 3600000
                            }
                        },
                        "required": [
                            "limit",
                            "remaining",
                            "reset"
                        ],
                        "description": "The ratelimit configuration for this key. If this field is null or undefined, the key has no ratelimit.",
                        "example": {
                            "limit": 10,
                            "remaining": 9,
                            "reset": 3600000
                        }
                    },
                    "remaining": {
                        "type": "integer",
                        "description": "The number of requests that can be made with this key before it becomes invalid. If this field is null or undefined, the key has no request limit.",
                        "example": 1000
                    },
                    "code": {
                        "type": "string",
                        "enum": [
                            "VALID",
                            "NOT_FOUND",
                            "FORBIDDEN",
                            "USAGE_EXCEEDED",
                            "RATE_LIMITED",
                            "UNAUTHORIZED",
                            "DISABLED",
                            "INSUFFICIENT_PERMISSIONS",
                            "EXPIRED"
                        ],
                        "description": "A machine readable code why the key is not valid.\nPossible values are:\n- VALID: the key is valid and you should proceed\n- NOT_FOUND: the key does not exist or has expired\n- FORBIDDEN: the key is not allowed to access the api\n- USAGE_EXCEEDED: the key has exceeded its request limit\n- RATE_LIMITED: the key has been ratelimited\n- UNAUTHORIZED: the key is not authorized\n- DISABLED: the key is disabled\n- INSUFFICIENT_PERMISSIONS: you do not have the required permissions to perform this action\n- EXPIRED: The key was only valid for a certain time and has expired.\n"
                    },
                    "enabled": {
                        "type": "boolean",
                        "description": "Sets the key to be enabled or disabled. Disabled keys will not verify."
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A list of all the permissions this key is connected to.",
                        "example": [
                            "dns.record.update",
                            "dns.record.delete"
                        ]
                    },
                    "environment": {
                        "type": "string",
                        "description": "The environment of the key, this is what what you set when you crated the key",
                        "example": "test"
                    },
                    "identity": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "externalId": {
                                "type": "string"
                            },
                            "meta": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                }
                            }
                        },
                        "required": [
                            "id",
                            "externalId",
                            "meta"
                        ],
                        "description": "The associated identity of this key."
                    }
                },
                "required": [
                    "valid",
                    "code"
                ]
            },
            "PermissionQuery": {
                "nullable": true,
                "description": "A query for which permissions you require",
                "oneOf": [
                    {
                        "title": "LiteralClause",
                        "type": "string"
                    },
                    {
                        "title": "And",
                        "type": "object",
                        "required": [
                            "and"
                        ],
                        "properties": {
                            "and": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/PermissionQuery"
                                }
                            }
                        }
                    },
                    {
                        "title": "Or",
                        "type": "object",
                        "required": [
                            "or"
                        ],
                        "properties": {
                            "or": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/PermissionQuery"
                                }
                            }
                        }
                    }
                ]
            },
            "V1KeysVerifyKeyRequest": {
                "type": "object",
                "properties": {
                    "apiId": {
                        "type": "string",
                        "description": "The id of the api where the key belongs to. This is optional for now but will be required soon.\nThe key will be verified against the api's configuration. If the key does not belong to the api, the verification will fail.",
                        "example": "api_1234"
                    },
                    "key": {
                        "type": "string",
                        "minLength": 1,
                        "description": "The key to verify",
                        "example": "sk_1234"
                    },
                    "authorization": {
                        "type": "object",
                        "properties": {
                            "permissions": {
                                "$ref": "#/components/schemas/PermissionQuery"
                            }
                        },
                        "description": "Perform RBAC checks"
                    },
                    "ratelimit": {
                        "type": "object",
                        "properties": {
                            "cost": {
                                "type": "integer",
                                "minimum": 0,
                                "default": 1,
                                "description": "Override how many tokens are deducted during the ratelimit operation."
                            }
                        },
                        "description": "Use 'ratelimits' with `[{ name: \"default\", cost: 2}]`",
                        "deprecated": true
                    },
                    "ratelimits": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "minLength": 1,
                                    "description": "The name of the ratelimit.",
                                    "example": "tokens"
                                },
                                "cost": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "default": 1,
                                    "description": "Optionally override how expensive this operation is and how many tokens are deducted from the current limit."
                                },
                                "limit": {
                                    "type": "integer",
                                    "description": "Optionally override the limit."
                                },
                                "duration": {
                                    "type": "integer",
                                    "description": "Optionally override the ratelimit window duration."
                                }
                            },
                            "required": [
                                "name"
                            ]
                        },
                        "description": "You can check against multiple ratelimits when verifying a key. Let's say you are building an app that uses AI under the hood and you want to limit your customers to 500 requests per hour, but also ensure they use up less than 20k tokens per day.\n                  ",
                        "externalDocs": {
                            "url": "https://www.unkey.com/docs/concepts/identities/ratelimits"
                        },
                        "example": [
                            {
                                "name": "requests",
                                "limit": 500,
                                "duration": 3600000
                            },
                            {
                                "name": "tokens",
                                "limit": 20000,
                                "duration": 86400000
                            }
                        ]
                    }
                },
                "required": [
                    "key"
                ]
            }
        },
        "parameters": {}
    },
    "paths": {
        "/v1/liveness": {
            "get": {
                "tags": [
                    "liveness"
                ],
                "operationId": "v1.liveness",
                "responses": {
                    "200": {
                        "description": "The configured services and their status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "The status of the server"
                                        },
                                        "services": {
                                            "type": "object",
                                            "properties": {
                                                "metrics": {
                                                    "type": "string",
                                                    "description": "The name of the connected metrics service",
                                                    "example": "AxiomMetrics"
                                                },
                                                "logger": {
                                                    "type": "string",
                                                    "description": "The name of the connected logger service",
                                                    "example": "AxiomLogger or ConsoleLogger"
                                                },
                                                "ratelimit": {
                                                    "type": "string",
                                                    "description": "The name of the connected ratelimit service"
                                                },
                                                "usagelimit": {
                                                    "type": "string",
                                                    "description": "The name of the connected usagelimit service"
                                                },
                                                "analytics": {
                                                    "type": "string",
                                                    "description": "The name of the connected analytics service"
                                                }
                                            },
                                            "required": [
                                                "metrics",
                                                "logger",
                                                "ratelimit",
                                                "usagelimit",
                                                "analytics"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "services"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrBadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrUnauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrForbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrNotFound"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response is sent when a request conflicts with the current state of the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrConflict"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrTooManyRequests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server has encountered a situation it does not know how to handle.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrInternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/keys.getKey": {
            "get": {
                "tags": [
                    "keys"
                ],
                "operationId": "getKey",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "description": "The id of the key to fetch",
                            "example": "key_1234"
                        },
                        "required": true,
                        "name": "keyId",
                        "in": "query"
                    },
                    {
                        "schema": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Decrypt and display the raw key. Only possible if the key was encrypted when generated."
                        },
                        "required": false,
                        "name": "decrypt",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The configuration for a single key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Key"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrBadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrUnauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrForbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrNotFound"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response is sent when a request conflicts with the current state of the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrConflict"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrTooManyRequests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server has encountered a situation it does not know how to handle.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrInternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/keys.deleteKey": {
            "post": {
                "tags": [
                    "keys"
                ],
                "operationId": "deleteKey",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "keyId": {
                                        "type": "string",
                                        "minLength": 1,
                                        "description": "The id of the key to revoke",
                                        "example": "key_1234"
                                    }
                                },
                                "required": [
                                    "keyId"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The key was successfully revoked, it may take up to 30s for this to take effect in all regions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrBadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrUnauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrForbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrNotFound"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response is sent when a request conflicts with the current state of the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrConflict"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrTooManyRequests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server has encountered a situation it does not know how to handle.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrInternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/keys.createKey": {
            "post": {
                "tags": [
                    "keys"
                ],
                "operationId": "createKey",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "apiId": {
                                        "type": "string",
                                        "description": "Choose an `API` where this key should be created.",
                                        "example": "api_123"
                                    },
                                    "prefix": {
                                        "type": "string",
                                        "maxLength": 16,
                                        "description": "To make it easier for your users to understand which product an api key belongs to, you can add prefix them.\n\nFor example Stripe famously prefixes their customer ids with cus_ or their api keys with sk_live_.\n\nThe underscore is automatically added if you are defining a prefix, for example: \"prefix\": \"abc\" will result in a key like abc_xxxxxxxxx\n"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The name for your Key. This is not customer facing.",
                                        "example": "my key"
                                    },
                                    "byteLength": {
                                        "type": "integer",
                                        "minimum": 16,
                                        "maximum": 255,
                                        "default": 16,
                                        "description": "The byte length used to generate your key determines its entropy as well as its length. Higher is better, but keys become longer and more annoying to handle. The default is 16 bytes, or 2^^128 possible combinations."
                                    },
                                    "ownerId": {
                                        "type": "string",
                                        "description": "Deprecated, use `externalId`",
                                        "deprecated": true,
                                        "example": "team_123"
                                    },
                                    "externalId": {
                                        "type": "string",
                                        "description": "Your user's Id. This will provide a link between Unkey and your customer record.\nWhen validating a key, we will return this back to you, so you can clearly identify your user from their api key.",
                                        "example": "team_123"
                                    },
                                    "meta": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "nullable": true
                                        },
                                        "description": "This is a place for dynamic meta data, anything that feels useful for you should go here",
                                        "example": {
                                            "billingTier": "PRO",
                                            "trialEnds": "2023-06-16T17:16:37.161Z"
                                        }
                                    },
                                    "roles": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 512
                                        },
                                        "description": "A list of roles that this key should have. If the role does not exist, an error is thrown",
                                        "example": [
                                            "admin",
                                            "finance"
                                        ]
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 512
                                        },
                                        "description": "A list of permissions that this key should have. If the permission does not exist, an error is thrown",
                                        "example": [
                                            "domains.create_record",
                                            "say_hello"
                                        ]
                                    },
                                    "expires": {
                                        "type": "integer",
                                        "description": "You can auto expire keys by providing a unix timestamp in milliseconds. Once Keys expire they will automatically be disabled and are no longer valid unless you enable them again.",
                                        "example": 1623869797161
                                    },
                                    "remaining": {
                                        "type": "integer",
                                        "description": "You can limit the number of requests a key can make. Once a key reaches 0 remaining requests, it will automatically be disabled and is no longer valid unless you update it.",
                                        "example": 1000,
                                        "externalDocs": {
                                            "description": "Learn more",
                                            "url": "https://unkey.dev/docs/features/remaining"
                                        }
                                    },
                                    "refill": {
                                        "type": "object",
                                        "properties": {
                                            "interval": {
                                                "type": "string",
                                                "enum": [
                                                    "daily",
                                                    "monthly"
                                                ],
                                                "description": "Unkey will automatically refill verifications at the set interval."
                                            },
                                            "amount": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "exclusiveMinimum": true,
                                                "description": "The number of verifications to refill for each occurrence is determined individually for each key."
                                            }
                                        },
                                        "required": [
                                            "interval",
                                            "amount"
                                        ],
                                        "description": "Unkey enables you to refill verifications for each key at regular intervals.",
                                        "example": {
                                            "interval": "daily",
                                            "amount": 100
                                        }
                                    },
                                    "ratelimit": {
                                        "type": "object",
                                        "properties": {
                                            "async": {
                                                "type": "boolean",
                                                "default": true,
                                                "description": "Async will return a response immediately, lowering latency at the cost of accuracy. Will be required soon.",
                                                "externalDocs": {
                                                    "description": "Learn more",
                                                    "url": "https://unkey.dev/docs/features/ratelimiting"
                                                }
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "fast",
                                                    "consistent"
                                                ],
                                                "default": "fast",
                                                "description": "Deprecated, used `async`. Fast ratelimiting doesn't add latency, while consistent ratelimiting is more accurate.",
                                                "externalDocs": {
                                                    "description": "Learn more",
                                                    "url": "https://unkey.dev/docs/features/ratelimiting"
                                                },
                                                "deprecated": true
                                            },
                                            "limit": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "The total amount of requests in a given interval."
                                            },
                                            "duration": {
                                                "type": "integer",
                                                "minimum": 1000,
                                                "description": "The window duration in milliseconds. Will be required soon.",
                                                "example": 60000
                                            },
                                            "refillRate": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "How many tokens to refill during each refillInterval.",
                                                "deprecated": true
                                            },
                                            "refillInterval": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "The refill timeframe, in milliseconds.",
                                                "deprecated": true
                                            }
                                        },
                                        "required": [
                                            "limit"
                                        ],
                                        "description": "Unkey comes with per-key fixed-window ratelimiting out of the box.",
                                        "example": {
                                            "type": "fast",
                                            "limit": 10,
                                            "duration": 60000
                                        }
                                    },
                                    "enabled": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "Sets if key is enabled or disabled. Disabled keys are not valid.",
                                        "example": false
                                    },
                                    "environment": {
                                        "type": "string",
                                        "maxLength": 256,
                                        "description": "Environments allow you to divide your keyspace.\n\nSome applications like Stripe, Clerk, WorkOS and others have a concept of \"live\" and \"test\" keys to\ngive the developer a way to develop their own application without the risk of modifying real world\nresources.\n\nWhen you set an environment, we will return it back to you when validating the key, so you can\nhandle it correctly.\n              "
                                    }
                                },
                                "required": [
                                    "apiId"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The configuration for an api",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "keyId": {
                                            "type": "string",
                                            "description": "The id of the key. This is not a secret and can be stored as a reference if you wish. You need the keyId to update or delete a key later.",
                                            "example": "key_123"
                                        },
                                        "key": {
                                            "type": "string",
                                            "description": "The newly created api key, do not store this on your own system but pass it along to your user.",
                                            "example": "prefix_xxxxxxxxx"
                                        }
                                    },
                                    "required": [
                                        "keyId",
                                        "key"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrBadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrUnauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrForbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrNotFound"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response is sent when a request conflicts with the current state of the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrConflict"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrTooManyRequests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server has encountered a situation it does not know how to handle.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrInternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/keys.verifyKey": {
            "post": {
                "tags": [
                    "keys"
                ],
                "operationId": "verifyKey",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/V1KeysVerifyKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The verification result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V1KeysVerifyKeyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrBadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrUnauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrForbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrNotFound"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response is sent when a request conflicts with the current state of the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrConflict"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrTooManyRequests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server has encountered a situation it does not know how to handle.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrInternalServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/keys.updateKey": {
            "post": {
                "tags": [
                    "keys"
                ],
                "operationId": "updateKey",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "keyId": {
                                        "type": "string",
                                        "description": "The id of the key you want to modify",
                                        "example": "key_123"
                                    },
                                    "name": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "The name of the key",
                                        "example": "Customer X"
                                    },
                                    "ownerId": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "The id of the tenant associated with this key. Use whatever reference you have in your system to identify the tenant. When verifying the key, we will send this field back to you, so you know who is accessing your API.",
                                        "example": "user_123"
                                    },
                                    "meta": {
                                        "type": "object",
                                        "nullable": true,
                                        "additionalProperties": {
                                            "nullable": true
                                        },
                                        "description": "Any additional metadata you want to store with the key",
                                        "example": {
                                            "roles": [
                                                "admin",
                                                "user"
                                            ],
                                            "stripeCustomerId": "cus_1234"
                                        }
                                    },
                                    "expires": {
                                        "type": "integer",
                                        "nullable": true,
                                        "description": "The unix timestamp in milliseconds when the key will expire. If this field is null or undefined, the key is not expiring.",
                                        "example": 0
                                    },
                                    "ratelimit": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "fast",
                                                    "consistent"
                                                ],
                                                "description": "Fast ratelimiting doesn't add latency, while consistent ratelimiting is more accurate.\nDeprecated, use 'async' instead",
                                                "deprecated": true,
                                                "externalDocs": {
                                                    "description": "Learn more",
                                                    "url": "https://unkey.dev/docs/features/ratelimiting"
                                                }
                                            },
                                            "async": {
                                                "type": "boolean",
                                                "default": false,
                                                "description": "Asnyc ratelimiting doesn't add latency, while sync ratelimiting is slightly more accurate.",
                                                "externalDocs": {
                                                    "description": "Learn more",
                                                    "url": "https://unkey.dev/docs/features/ratelimiting"
                                                }
                                            },
                                            "limit": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "The total amount of requests allowed in a single window."
                                            },
                                            "refillRate": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "How many tokens to refill during each refillInterval.\nDeprecated, use 'limit' instead.",
                                                "deprecated": true
                                            },
                                            "refillInterval": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "Determines the speed at which tokens are refilled, in milliseconds.\nDeprecated, use 'duration'",
                                                "deprecated": true
                                            },
                                            "duration": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "The duration of each ratelimit window, in milliseconds.\nThis field will become required in a future version."
                                            }
                                        },
                                        "required": [
                                            "limit"
                                        ],
                                        "description": "Unkey comes with per-key ratelimiting out of the box. Set `null` to disable.",
                                        "example": {
                                            "type": "fast",
                                            "limit": 10,
                                            "refillRate": 1,
                                            "refillInterval": 60
                                        }
                                    },
                                    "remaining": {
                                        "type": "integer",
                                        "nullable": true,
                                        "description": "The number of requests that can be made with this key before it becomes invalid. Set `null` to disable.",
                                        "example": 1000
                                    },
                                    "refill": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                            "interval": {
                                                "type": "string",
                                                "enum": [
                                                    "daily",
                                                    "monthly"
                                                ],
                                                "description": "Unkey will automatically refill verifications at the set interval. If null is used the refill functionality will be removed from the key."
                                            },
                                            "amount": {
                                                "type": "integer",
                                                "minimum": 1,
                                                "description": "The amount of verifications to refill for each occurrence is determined individually for each key."
                                            }
                                        },
                                        "required": [
                                            "interval",
                                            "amount"
                                        ],
                                        "description": "Unkey enables you to refill verifications for each key at regular intervals.",
                                        "example": {
                                            "interval": "daily",
                                            "amount": 100
                                        }
                                    },
                                    "enabled": {
                                        "type": "boolean",
                                        "description": "Set if key is enabled or disabled. If disabled, the key cannot be used to verify.",
                                        "example": true
                                    },
                                    "roles": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "minLength": 3,
                                                    "description": "The id of the role. Provide either `id` or `name`. If both are provided `id` is used."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "description": "Identify the role via its name. Provide either `id` or `name`. If both are provided `id` is used."
                                                },
                                                "create": {
                                                    "type": "boolean",
                                                    "description": "Set to true to automatically create the permissions they do not exist yet. Only works when specifying `name`.\n                    Autocreating roles requires your root key to have the `rbac.*.create_role` permission, otherwise the request will get rejected"
                                                }
                                            }
                                        },
                                        "minItems": 1,
                                        "description": "The roles you want to set for this key. This overwrites all existing roles.\n                Setting roles requires the `rbac.*.add_role_to_key` permission.",
                                        "example": [
                                            {
                                                "id": "perm_123"
                                            },
                                            {
                                                "name": "dns.record.create"
                                            },
                                            {
                                                "name": "dns.record.delete",
                                                "create": true
                                            }
                                        ]
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "minLength": 3,
                                                    "description": "The id of the permission. Provide either `id` or `name`. If both are provided `id` is used."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "description": "Identify the permission via its name. Provide either `id` or `name`. If both are provided `id` is used."
                                                },
                                                "create": {
                                                    "type": "boolean",
                                                    "description": "Set to true to automatically create the permissions they do not exist yet. Only works when specifying `name`.\n                    Autocreating permissions requires your root key to have the `rbac.*.create_permission` permission, otherwise the request will get rejected"
                                                }
                                            }
                                        },
                                        "minItems": 1,
                                        "description": "The permissions you want to set for this key. This overwrites all existing permissions.\n                Setting permissions requires the `rbac.*.add_permission_to_key` permission.",
                                        "example": [
                                            {
                                                "id": "perm_123"
                                            },
                                            {
                                                "name": "dns.record.create"
                                            },
                                            {
                                                "name": "dns.record.delete",
                                                "create": true
                                            }
                                        ]
                                    }
                                },
                                "required": [
                                    "keyId"
                                ],
                                "description": "Update a key's configuration.\n            The `apis.<API_ID>.update_key` permission is required."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The key was successfully updated, it may take up to 30s for this to take effect in all regions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrBadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrUnauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrForbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrNotFound"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response is sent when a request conflicts with the current state of the server.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrConflict"
                                }
                            }
                        }
                    },
[...]
